# =========================
# Build Folders
# =========================
bin/
obj/
out/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# JetBrains Rider
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
packages/
.nuget/

# =========================
# Publish Output
# =========================
publish/
*.Publish.xml
*.pubxml

# =========================
# ASP.NET Core
# =========================
wwwroot/lib/

# =========================
# Environment & Secrets
# =========================
appsettings.Development.json
secrets.json
.env
.env.*
*.key
*.pfx

# =========================
# Docker
# =========================
**/docker-compose*.dcproj
**/.docker/
docker-data/
volumes/

# Optional: ignore local override file
docker-compose.override.yml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
Kubeconfig